/* background color  */
.backg{
    background: #07172e;
}

/* carousel */
.carousel-control-next{
    margin-right: 0 !important;
    width: 32%;
}
.carousel-control-next-icon{
    width: 80px !important;
}
.carousel-control-prev{
    margin-left: 0 !important;
    width: 32%;
}
.carousel-control-prev-icon{
    width: 80px !important;
}

.carousel {
    position: relative !important;
}
  
.carousel::before,
.carousel::after {
    content: "" !important;
    position: absolute !important;
    top: 0 !important;
    bottom: 0 !important;
    width: 15%;
    z-index: 1 !important;
}
  
.carousel::before {
    left: 0 !important;
    background: linear-gradient(to right, rgb(0, 0, 0,0.5) , rgba(0,0,0,0.5) 100%) !important;
}
  
.carousel::after {
    right: 0 !important;
    background: linear-gradient(to left, rgba(0,0,0,0.5), rgba(0,0,0,0.5) 100%) !important; 
}
.carousel-picture{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

/* cards */


.movie-container{
    width: 100%;
    display: flex;
    align-items: center;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-behavior: smooth;
}

.movie{
    flex: none;
    height : 15rem;
    /* text-align: center; */
    cursor: pointer;
    position: relative;
}

.movie img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.movie img:hover ~ .movie p{
    display: block;
    visibility: visible;
    opacity: 1;
    z-index: 1;
} 

.movie p{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(0, 0, 0, 0.5);
    color: white;
    font-size: 20px;
    font-weight: 500;
    display: none;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease-in-out;
    padding: 10px;
    box-sizing: border-box;
}




/* .movie p{
    text-transform: capitalize;
    height: 20px;
    overflow: hidden;
} */



/* moviedeatail */

.movie-info{
    width: 100%;
    height: 40rem;
}

.movie-info img{
    display: flex;
    justify-content: end;
    align-items: end;
    margin-left: 30%;
    width: 70%;
    height: 100%;
    object-fit: fill;
}

.movie-detail{
    position: absolute;
    width: 50%;
    height: 40rem;
    object-fit: fill;
    background: rgb(0, 0, 0);
    background: linear-gradient(90deg, rgb(0, 0, 4) 60%, rgba(0, 0, 0, 0) 100%);
    padding: 5vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: #fff;
}

/* recommendation */

.search{
    width: 15rem;
    height: 350px;
 }
 .search img{
     height: 100%;
     width: 100%;
     object-fit: cover;
 }

 /* navbar */
 .form-control:focus {
    border-color: #000000;
    box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0.25);
} 

/* streaming */
.streaming{
    width: 100%;
    height: 42rem;
}

/* trailers */
.yt-clips{
    width: 25rem;
    height: 15rem;
}