body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.carousel-control-next{
  margin-right: 0 !important;
  width: 30px !important;
}
.carousel-control-next-icon{
  width: 80px !important;
}
.carousel-control-prev{
  margin-left: 0 !important;
  width: 30px !important;
}
.carousel-control-prev-icon{
  width: 80px !important;
}